
body {
max-width: 1280px;
margin: auto;
font-family: "Roboto", sans-serif;
}

.logo {
   font-size: 80px;
   font-family: roboto;
   line-height: 93,75px;
   text-decoration: none;
   color: #000000;
   
}
.logo span {
    color: #4BCAFF;
}

.logo-box {
    margin-top: 63px;
    width: 334px;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0px;
    
}
.wraper-menu {
    background-color: #35444F;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
}

.link-menu {
    color: #FFFFFF;
    text-decoration: none;
    padding: 26px 35px 19px 35px;
    display: block;
    
}
.menu-item {
    font-size: 24px;
    border-left: 1px solid white;
    font-weight: 400;
    line-height: 28.13px;
}
.menu-item:hover {
    background-color: #222f3a;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.section-picture {
    display: flex;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid black; 
}

.picture-text {
    margin-left: 52px;  
}
.picture {
    width: 320px;
    height: 381px;
    margin: auto;
}
.wraper-side-menu {
    width: 344px;
    
}
.side-menu {
    display: block;
    border: 1px solid black; 
    margin-top: 0; 
    text-decoration: none;
}
.link-side-menu {
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    line-height: 81px;
}
.side-menu-item:hover {
    color: #35444f;
    background-color: #dbdbdb;
    padding-left: 60px;
}
.text-block {
    width: 885px;
    font-size: 18px;
    line-height: 24px;
}
.text-one {
    margin-top: 37px;
}
.text-two {
    margin-top: 34px;
    margin-bottom: auto;
}

li {
    list-style-type: none;
}
footer {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    align-items: center;
    text-decoration: none;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu {
    text-decoration: none;
    list-style: none;
    justify-content: right;
    text-align: center;
    line-height: 50px;
    padding-left: 40px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-basis: 100%;
}

.link-footer-menu {
    padding-right: 16px;
    color: #0C1927;
    line-height: 28px;
    text-decoration: none;
}
.link-footer-menu:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
.marker {
    padding-left: 135px;
    padding-right: 40px;
}



